version: "2"

# https://github.com/k3s-io/k3s/blob/master/docker-compose.yml

services:
  server:
    # https://hub.docker.com/r/rancher/k3s/tags
    # https://github.com/k3s-io/k3s/blob/master/package/Dockerfile
    image: "rancher/k3s:v1.26.1-k3s1"
    command: server
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    privileged: true
    ports:
      - 6443:6443 # Kubernetes API Server
      - 80:80 # Ingress controller port 80
      - 443:443 # Ingress controller port 443
    environment:
      K3S_TOKEN: "mynodetoken"
      K3S_KUBECONFIG_OUTPUT: "/output/kubeconfig.yaml"
      K3S_KUBECONFIG_MODE: "666"
    tmpfs:
      - /run
      - /var/run
    volumes:
      # - k3s-server:/var/lib/rancher/k3s
      - output:/output

  agent:
    # https://hub.docker.com/r/rancher/k3s/tags
    # https://github.com/k3s-io/k3s/blob/master/package/Dockerfile
    image: "rancher/k3s:v1.26.1-k3s1"
    tmpfs:
      - /run
      - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    privileged: true
    environment:
      K3S_URL: "https://server:6443"
      K3S_TOKEN: "mynodetoken"

  kubectl:
    build: .
    environment:
      KUBECONFIG: "/config/kubeconfig.yaml"
      K3S_URL: "https://server:6443"
    volumes:
      - output:/output:ro
    depends_on:
      - server

volumes:
  k3s-server: {}
  output: {}
